@page "/"
@using DepotMerch.Data.Products
@using DepotMerch.Shared
@using DepotMerch.Services
@using DepotMerch.Interfaces
@inject HttpClient Http

<PageTitle>Productoverzicht</PageTitle>

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Depot merchandise</h1>
            <p class="lead fw-normal text-white-50 mb-0">Wie wil die nou niet?</p>
        </div>
    </div>
</header>

<ProductList Products="productsList" DisplayViewButton="true"></ProductList>


@code {
    protected List<Product> productsList = new();
    protected override async Task OnInitializedAsync()
    {
        await GetAllProducts();
    }
    protected async Task GetAllProducts()
    {
        productsList = await Http.GetFromJsonAsync<List<Product>>("api/Product");
    }
}
