@page "/"
@using DepotMerch.Data.Products
@using DepotMerch.Shared
@using DepotMerch.Services
@using DepotMerch.Interfaces
@inject HttpClient Http

<PageTitle>Productoverzicht</PageTitle>

<h1>Productoverzicht</h1>

<ProductList Products="productsList" DisplayViewButton="true"></ProductList>


@code {
    protected List<Product> productsList = new();
    protected override async Task OnInitializedAsync()
    {
        await GetAllProducts();
    }
    protected async Task GetAllProducts()
    {
        productsList = await Http.GetFromJsonAsync<List<Product>>("api/Product");
    }
}
