@using DepotMerch.Data.Products
@using DepotMerch.Services

<div class="row">
    @foreach (var product in Products)
    {
        <div class="col-sm-6 w-25">
            <div class="card m-2">
                @if (product.ImageUrl != "" && product.ImageUrl != null)
                {
                    <img class="card-img-top" style="width: 100%; height: 400px;" src="@product.ImageUrl" alt="Card image cap">
                }
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <blockquote class="card-text">$@product.Price</blockquote>
                    @if (DisplayViewButton)
                    {
                        <a class="btn btn-primary" type="button" href="/product/@product.Id">Bekijk</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {
    [EditorRequired]
    [Parameter]
    public List<Product> Products { get; set; } = new();
    [Parameter]
    public bool DisplayViewButton { get; set; }
}